/* Widths: Mobile: 375px, Desktop: 1440px */
@font-face {
  font-family: "Space Grotesk";
  src: url('../fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

* {
  --background-gradient: linear-gradient(to bottom,  hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --error-color: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  font-size: 18px;
  font-family: "Space Grotesk";
  font-weight: 500;

  display: inline-block;
}

.border {
  background-image: var(--background-gradient);
  width: 33%;
  height: 100%;
}

.card {
  width: 33%;
  z-index: 5;
}

.circleOne {}

.circleTwo {}

.cardholderName {}

.cardNumber {}

.date {}

.cvc {}

.input {
  width: 66%;
  height: 100%;
  background-color: --white;
}

.fullInput {
  width: 33%;
}

.halfInput {
  width: 16.5%;
}

.quarterInput {
  width: 8.25%;
}